# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Firebase (NÃO SUBA SUAS CREDENCIAIS!)
**/firebase_options.dart
**/*.g.dart
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# IDE
.vscode/
.idea/
*.iml

# Outros
.DS_Store
pubspec.lock